@theme "/home/aurora/.local/share/rofi/themes/rounded-common.rasi"
//@theme "/home/aurora/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/aurora/.local/share/rofi/themes/rounded-gray-dark.rasi"
//@theme "/home/aurora/.local/share/rofi/themes/rounded-gray-dark.rasi"
